body {
  background-color: #dfdfdf;
}
.container {
  background-color: white;
}

.img-thumbnail {
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
}

.mini {
  max-width:45px;
  max-height:45px;
  padding: 0;
}

.card-header {
  background-color: white;
}
